
@model IEnumerable<MVC5Demo.UI.ViewModels.Users_in_Role_ViewModel>

@{
    ViewBag.Title = "UsersWithRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title"><b>Total Users till @String.Format("{0 : dddd, MMMM d, yyyy}", DateTime.Now)  :</b><span class="label label-primary">@Model.Count()</span></h3>
        <div class="pull-right">
            <a href="@Url.Action("Register", "Account", new { area =""})" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus">&nbsp;</i>Add New User
            </a>

        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-hover table-bordered table-condensed" id="example1">
            <thead>
                <tr>
                    <td><b>Username</b></td>
                    <td><b>Email</b></td>
                    <td><b>Roles</b></td>
                </tr>
            </thead>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>@user.Role</td>
                    
                </tr>
            }
        </table>
    </div>
</div>



